{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Cadastrar novo chef</title>
{% endblock %}
{% block content %}
  <main>
    <section class="chef-section">
      <div class="content">
        <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
          <div class="header-recipe">
            <strong>Criando chef</strong>
            <button type="submit">Salvar chef</button>
          </div>
          {% include 'admin/chefs/fields.njk' %}
        </form>
      </div>
    </section>
  </main>
  <script src="/scripts/chefs.js"></script>
{% endblock %}
