<div class="items">
  <div class="item">
    <strong>Nome</strong>
    <div>
      <input
        type="text"
        name="name"
        placeholder="Digite o nome do chef"
        value="{{ chef.name }}"
      >
    </div>
  </div>

  <div class="item">
    <strong>Avatar</strong>
    <div class="upload">
      <div id="photo-preview">
        {% if chef.img %}
          <div class="photo" id="{{chef.file_id}}">
            <img src="{{chef.img}}" alt="{{chef.name}}">
            <i class="material-icons"
              onclick="PhotosUpload.removeOldPhoto(event)"
            >close</i>
          </div>
          <input type="hidden" name="removed_files">
        {% endif %}
      </div>
      <div id="photo-upload">
        <input
          id="photo-input"
          type="file"
          class="button"
          name="avatar"
          accept="image/*"
          onchange="PhotosUpload.handleFileInput(event)"
        >
        <p>Enviar Avatar</p>
      </div>
    </div>
  </div>
</div>
