{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Usuários</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
  <main class="users">
    <section class="content">
      <div class="header-user">
        <strong>Usuários</strong>
        <a class="secondary" href="/admin/users/register">Novo</a>
      </div>
      <div class="users-grid">
        {% for user in users %}
          <div class="user">
            <span>{{user.name}}</span>
            <span>{{user.email}}</span>
            <div class="actions">
              <a href="/admin/users/{{user.id}}/edit">Editar</a>
              <form method="POST" action="/admin/users?_method=DELETE">
                <input type="hidden" name="id" value="{{user.id}}">
                <button type="submit">Remover</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}
