<div class="recipe-details">
  <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
  <div class="title">
    <strong>{{recipe.title}}</strong>
    <span>por {{recipe.author}}</span>
  </div>
  <section class="detail-section">
    <div class="header">
      <strong>Ingredientes</strong>
      <span class="show">ESCONDER</span>
    </div>
    <div class="details">
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="detail-section">
    <div class="header">
      <strong>Modo de preparo</strong>
      <span class="show">ESCONDER</span>
    </div>
    <div class="details">
      <ul>
        {% for preparation in recipe.preparations %}
          <li>{{ preparation }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="detail-section">
    <div class="header">
      <strong>Informações adicionais</strong>
      <span class="show">ESCONDER</span>
    </div>
    <div class="details">
      <p>{{ recipe.information }}</p>
    </div>
  </section>
</div>

<script src="/scripts.js"></script>
