{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Detalhes da receita</title>
{% endblock %}
{% block content %}
  <main>
    <section>
      {% include 'recipes/fields.njk' %}
    </section>
  </main>
{% endblock %}
