{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Detalhes da receita</title>
{% endblock %}
{% block content %}
  <main>
    <section class="content">
      <div class="header-recipe">
        <strong>Receita: {{ recipe.title }}</strong>
        {% if session.user.is_admin %}
          <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
        {% endif %}
      </div>
      {% include 'recipes/details.njk' %}
    </section>
  </main>
  <script src="/scripts/gallery.js"></script>
{% endblock %}
