{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Cadastrar nova receita</title>
{% endblock %}
{% block content %}
  <main>
    <section class="recipe-section">
      <div class="content">
        <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
          <input type="hidden" name="index" value="{{ recipe.index }}">
          <button type="submit">Deletar</button>
        </form>
        <form method="POST" action="/admin/recipes?_method=PUT">
          <input type="hidden" name="index" value="{{ recipe.index }}">
          <div class="header-recipe">
            <strong>Editando receita</strong>
            <button type="submit">Salvar receita</button>
          </div>
          {% include 'admin/fields.njk' %}
        </form>
      </div>
    </section>
  </main>
  <script src="/create-recipe.js"></script>
{% endblock %}
