{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Chefs</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
  <main class="chefs">
    <section class="content chefs-section">
      {% if session.user.is_admin %}
        <div class="header-chef">
          <strong>Gerenciar chefs</strong>
          <a href="/admin/chefs/create">Novo</a>
        </div>
      {% endif %}
      <div class="chefs-grid">
        {% for chef in chefs %}
          <div class="chef">
            <img src="{{chef.img}}" alt="Imagem de {{chef.name}}">
            <div>
              <span>{{chef.name}}</span>
              <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>
      <div class="modal-content">
        <img src="/assets/burger.png" alt="Imagem de Triplo bacon burger">
        <div class="modal-content__info">
          <strong></strong>
          <span></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
