header {
  width: 100%;
  padding: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header.dark {
  background: #111;
}

header nav div.restrict-area a {
  color:#222;
}

header nav div.restrict-area a:hover {
  color: var(--secondary-color);
}

header nav div.restrict-area span {
  cursor: pointer;
}

header.dark nav div.navbar a,
header.dark nav div.restrict-area a,
header.dark nav div.restrict-area span {
  color: #fff;
}

header nav {
  width: 100%;

  display: grid;
  /* grid-template-columns: 1fr 40%; */
}

header nav .navbar {
  display: flex;
  align-items: center;
}

header nav .search-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .search-area a {
  padding-top: 4px;
}

header nav .search-area i {
  cursor: pointer;
}

header nav .search-area i:hover {
  color: var(--secondary-color);
}

header nav .search {
  display: none;
}

header nav .search.show {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .search.show input {
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 8px 16px;
}

header nav .search.show button {
  color: #F0F0F0;
  cursor: pointer;
  background-color: var(--secondary-color);

  border-radius: 4px;

  padding: 8px 16px;
  margin: 0 10px;
}

header nav .search.show button:hover {
  filter: brightness(90%);
}

header nav .restrict-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .restrict-area div {
  display: flex;
  align-items: center;
}

header nav .restrict-area div > a.dark {
  color: #222;
}

header nav .restrict-area div > a {
  color: #fff;
  margin-right: 20px;
  margin-bottom: -5px;
}

header nav .restrict-area div > a:hover {
  color: var(--secondary-color);
}

header nav .restrict-area span {
  margin-left: 10px;
}

header nav .navbar img {
  cursor: pointer;
  margin-right: 80px;
}

header nav .restrict-area form {
  display: flex;
  justify-content: flex-end;
}

header nav button {
  cursor: pointer;
  color: #f0f0f0;
  font-size: 16px;
  background-color: transparent;

  display: flex;
  align-items: center;
}

header nav button.dark {
  color: #222;
}

header nav a:hover {
  color: var(--secondary-color);
  filter: brightness(70%);
}

header nav button:hover {
  color: var(--secondary-color);
  filter: brightness(70%);
}

header nav a.active {
  font-weight: bold;
}

header nav a + a {
  margin-left: 25px;
}
