{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Cadastrar nova receita</title>
{% endblock %}
{% block content %}
  <main>
    <section class="recipe-section">
      <div class="content">
        <form method="POST" action="/admin/recipes">
          <div class="header-recipe">
            <strong>Criando receita</strong>
            <button type="submit">Salvar receita</button>
          </div>
          {% include 'admin/recipes/fields.njk' %}
        </form>
      </div>
    </section>
  </main>
  <script src="/create-recipe.js"></script>
{% endblock %}
