<div class="items">
  <div class="item">
    <div class="recipe-photos">
      <div id="photos-upload">
        <strong>Imagem da receita</strong>
        <div class="input">
          <input
            id="photos-input"
            type="file"
            name="photos"
            multiple
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
          >
          <div>
            <i class="material-icons">add</i>
          </div>
        </div>
      </div>
      <div id="photos-preview">
        {% if recipe.files %}
          {% for image in recipe.files %}
            <div class="photo" id="{{image.id}}">
              <img src="{{image.src}}" alt="{{image.name}}">
              <i class="material-icons"
                onclick="PhotosUpload.removeOldPhoto(event)"
              >close</i>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <input type="hidden" name="removed_files">
    </div>
  </div>
  <div class="item">
    <strong>Título da receita</strong>
    <input
      type="text"
      name="title"
      placeholder="Qual é o título da receita"
      value="{{ recipe.title }}"
    >
  </div>
  <div class="item">
    <strong>Autor da receita</strong>
    <select name="chef_id">
      <option value="0">Selecione um chef</option>
      {% for chef in chefs %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %} >{{chef.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="item">
    <strong>Ingredientes</strong>
    <div id="ingredients">
      {% if recipe == null %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="" placeholder="Adicione os ingredientes da sua receita." />
        </div>
      {% endif %}
      {% if recipe != null %}
        {% for ingredient in recipe.ingredients %}
          <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ ingredient }}" placeholder="Adicione os ingredientes da sua receita." />
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
  </div>
  <div class="item">
    <strong>Modo de preparo</strong>
    <div id="preparations">
      {% if recipe == null %}
        <div class="preparation">
          <input type="text" name="preparation[]" value="" placeholder="Adicione os passos do modo de preparo." />
        </div>
      {% endif %}
      {% if recipe != null %}
        {% for preparation in recipe.preparation %}
          <div class="preparation">
            <input type="text" name="preparation[]" value="{{ preparation }}" placeholder="Adicione os passos do modo de preparo." />
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <button type="button" class="add-preparation">Adicionar novo passo</button>
  </div>
  <div class="item">
    <strong>Informações adicionais</strong>
    <textarea name="information" value="{{recipe.information}}" placeholder="Escreva informações mais detalhadas sobre sua receita.">{{recipe.information}}</textarea>
  </div>
</div>
