{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Detalhes da receita</title>
{% endblock %}
{% block content %}
  <main>
    <section>
      <div class="header-recipe">
        <strong>Receita: {{ recipe.title }}</strong>
        <a href="/admin/recipes/{{ recipe.index }}/edit">Editar receita</a>
      </div>
      {% include 'recipes/details.njk' %}
    </section>
  </main>
{% endblock %}
