<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/footer.css">

<link rel="stylesheet" href="/styles/modal.css">
<link rel="stylesheet" href="/styles/recipes.css">

<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/about.css">
<link rel="stylesheet" href="/styles/create-recipe.css">
<link rel="stylesheet" href="/styles/login.css">

<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/messages.css">
